/*!
 *  Flexed 0.2.0 by Jerome Indefenzo
 *  License - MIT License
 */

/* necessary resets */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
}

/* base containers */

.flexed.container,
.flexed.container .container {
	display: flex;
	flex-direction: row;
	margin: 0 -10px;
}

.vertical.flexed.container,
.flexed.container .vertical.container {
	display: flex;
	flex-direction: column;
	margin: -10px 0;
}

.flexed.container > .item,
.flexed.container .container > .item {
	flex: 1;
	margin: 0 10px;
	padding: 20px;
}

.flexed.container > .item:first-child,
.flexed.container .container > .item:first-child {
	margin-left: 0;
}

.flexed.container > .item:last-child,
.flexed.container .container > .item:last-child {
	margin-right: 0;
}

.vertical.flexed.container > .item,
.flexed.container .vertical.container > .item {
	flex: 1;
	margin: 10px 0;
	padding: 20px;
}

.vertical.flexed.container > .item:first-child,
.flexed.container .vertical.container > .item:first-child {
	margin-top: 0;
}

.vertical.flexed.container > .item:last-child,
.flexed.container .vertical.container > .item:last-child {
	margin-bottom: 0;
}

/* stacking boxes */

.flexed.stackable.container,
.flexed.container .stackable.container {
	flex-wrap: wrap;
}

.flexed.stackable.container > .item,
.flexed.container .stackable.container > .item {
	flex: 0 1 100%;
}

/* responsive containers */

.flexed.container { /* 0px - 479px */
	width: 100%;
	width: calc(100% - 20px);
	margin: auto;
}

@media (min-width: 480px) { /* 480px - 839px */
	.flexed.container {
		width: 100%;
	}
}

@media (min-width: 840px) { /* 839px - 1200px */
	.flexed.container {
		width: 840px;
	}

	.flexed.stackable.container > .item,
	.flexed.container .stackable.container > .item {
		flex: 1;
	}
}

@media (min-width: 1200px) { /* 1200px - above */
	.flexed.container {
		width: 1200px;
	}
}

/* column presized widths */

.flexed.container > .full.item,
.flexed.container .container > .full.item {
	flex: 0 1 100%;
}

.flexed.container > .half.item,
.flexed.container .container > .half.item,
.flexed.container > .one.half.item,
.flexed.container .container > .one.half.item {
	flex: 0 1 50%;
}

.flexed.container > .one.third.item,
.flexed.container .container > .one.third.item {
	flex: 0 1 33.33%;
}

.flexed.container > .two.thirds.item,
.flexed.container .container > .two.thirds.item {
	flex: 0 1 66.66%;
}

.flexed.container > .one.quarter.item,
.flexed.container .container > .one.quarter.item,
.flexed.container > .one.fourth.item,
.flexed.container .container > .one.fourth.item {
	flex: 0 1 25%;
}

.flexed.container > .two.quarters.item,
.flexed.container .container > .two.quarters.item,
.flexed.container > .two.quarter.item,
.flexed.container .container > .two.quarter.item,
.flexed.container > .two.fourths.item,
.flexed.container .container > .two.fourths.item {
	flex: 0 1 50%;
}

.flexed.container > .three.quarters.item,
.flexed.container .container > .three.quarters.item,
.flexed.container > .three.quarter.item,
.flexed.container .container > .three.quarter.item,
.flexed.container > .three.fourths.item,
.flexed.container .container > .three.fourths.item {
	flex: 0 1 75%;
}
