/*!
*  Flexed 0.2.2 by Jerome Indefenzo
*  License - MIT License
*/

/* necessary resets */
*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

/* base containers */

.flexed.container,
.flexed.container .container {
	-webkit-flex-direction: row;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    -ms-flex-direction: row;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;

	margin: 0 -10px;
}

.vertical.flexed.container,
.flexed.container .vertical.container {
	-webkit-flex-direction: column;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    -ms-flex-direction: column;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	margin: -10px 0;
}

.flexed.container > .item,
.flexed.container .container > .item {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;

	margin: 0 10px;
	padding: 20px;
}

.flexed.container > .item:first-child,
.flexed.container .container > .item:first-child {
	margin-left: 0;
}

.flexed.container > .item:last-child,
.flexed.container .container > .item:last-child {
	margin-right: 0;
}

.vertical.flexed.container > .item,
.flexed.container .vertical.container > .item {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;

	margin: 10px 0;
	padding: 20px;
}

.vertical.flexed.container > .item:first-child,
.flexed.container .vertical.container > .item:first-child {
	margin-top: 0;
}

.vertical.flexed.container > .item:last-child,
.flexed.container .vertical.container > .item:last-child {
	margin-bottom: 0;
}

/* stacking boxes */

@media (max-width: 840px) {
	/* 0px - 840px */
	.flexed.stackable.container,
	.flexed.container .stackable.container {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	.flexed.stackable.container > .item,
	.flexed.container .stackable.container > .item {
		-webkit-flex: 0 1 100% !important;
		    -ms-flex: 0 1 100% !important;
		        flex: 0 1 100% !important;

		margin: 0;
	}

	.flexed.stackable.container > .item + .item,
	.flexed.container .stackable.container > .item + .item {
		margin-top: 20px;
	}
}

/* responsive containers */

.flexed.container {
	/* 0px - 479px */
	width: 100%;
	width: calc(100% - 20px);
	margin: auto;
}

@media (min-width: 480px) {
	/* 480px - 839px */
	.flexed.container {
		width: 100%;
	}
}

@media (min-width: 840px) {
	/* 839px - 1200px */
	.flexed.container {
		width: 840px;
	}
}

@media (min-width: 1200px) {
	/* 1200px - above */
	.flexed.container {
		width: 1200px;
	}
}

/* column presized widths */

.flexed.container > .full.item,
.flexed.container .container > .full.item {
	-webkit-flex: 0 1 100%;
	    -ms-flex: 0 1 100%;
	        flex: 0 1 100%;
}

.flexed.container > .half.item,
.flexed.container .container > .half.item,
.flexed.container > .one.half.item,
.flexed.container .container > .one.half.item {
	-webkit-flex: 0 1 50%;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}

.flexed.container > .one.third.item,
.flexed.container .container > .one.third.item {
	-webkit-flex: 0 1 33.33%;
	    -ms-flex: 0 1 33.33%;
	        flex: 0 1 33.33%;
}

.flexed.container > .two.thirds.item,
.flexed.container .container > .two.thirds.item {
	-webkit-flex: 0 1 66.66%;
	    -ms-flex: 0 1 66.66%;
	        flex: 0 1 66.66%;
}

.flexed.container > .one.quarter.item,
.flexed.container .container > .one.quarter.item,
.flexed.container > .one.fourth.item,
.flexed.container .container > .one.fourth.item {
	-webkit-flex: 0 1 25%;
	    -ms-flex: 0 1 25%;
	        flex: 0 1 25%;
}

.flexed.container > .two.quarters.item,
.flexed.container .container > .two.quarters.item,
.flexed.container > .two.quarter.item,
.flexed.container .container > .two.quarter.item,
.flexed.container > .two.fourths.item,
.flexed.container .container > .two.fourths.item {
	-webkit-flex: 0 1 50%;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}

.flexed.container > .three.quarters.item,
.flexed.container .container > .three.quarters.item,
.flexed.container > .three.quarter.item,
.flexed.container .container > .three.quarter.item,
.flexed.container > .three.fourths.item,
.flexed.container .container > .three.fourths.item {
	-webkit-flex: 0 1 75%;
	    -ms-flex: 0 1 75%;
	        flex: 0 1 75%;
}
