html,body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

@media (min-width: 540px) and (max-width: 840px) {
	html, body {
		font-size: 12px;
	}
}

@media (min-width: 350px) and (max-width: 540px) {
	html, body {
		font-size: 8px;
	}
}

@media (max-width: 350px) {
	.header.item h1{
		font-size: 1.5rem !important;
	}
}
.masthead {
	background: #222222 url('images/backgro.jpg') no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}

.header.item h1 {
	font-size: 4.375rem;
	color: #040404;
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	padding-top: 20vh;
	text-shadow: 0px 0px 3px rgba(32,32,32,0.5);
}

.content {
	background: #222222 url('images/backgro-repeat-y.png') repeat-y center center;
	background-size: 100%;
	min-height: 635px;
	color: #EFEFEF;
	font-family: 'Yantramanav';
	font-weight: 100;
}

.description.item {
	font-size: 1.75rem;
	line-height: 1.75;
	text-indent: 5rem;
	text-align: justify;
}

.description.item h2 {
	font-weight: 300;
	font-size: 4rem;
}

.photos {
	background: #222222 url('images/backgro-repeat-y.png') repeat-y center center;
	background-size: 100%;
	padding-bottom: 40px;
}
.photos a {
	height: 375px;
	margin: 0px !important;
}

.photos #img-1 {
	background: #EFEFEF url('images/7.jpg') no-repeat center center;
	background-size: cover;
}

.photos #img-2 {
	background: #EFEFEF url('images/11.jpg') no-repeat center center;
	background-size: cover;
}

.photos #img-3 {
	background: #EFEFEF url('images/8.jpg') no-repeat;
	background-size: cover;
}

.photos #img-4 {
	background: #EFEFEF url('images/10.jpg') no-repeat center center;
	background-size: cover;
}

.photos #img-5 {
	background: #EFEFEF url('images/6.jpg') no-repeat center center;
	background-size: cover;
}

.photos #img-6 {
	background: #EFEFEF url('images/14.jpg') no-repeat;
	background-size: cover;
	filter: grayscale(1);
}

.footer {
	background: #EFEFEF url('images/footor.png') no-repeat bottom center;
	background-size: cover;
	height: 200px;
}

.footer #contact {
	padding-top: 75px;
	text-align: right;
}

.footer i {
	font-size: 50px;
	color: #040404;
}