html,body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.global.container#home {
	background: #222222 url('images/backgro.jpg') no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}

.masthead.item  {
	background-color: #222222;
	opacity: 0.5;
}

.masthead.item span {
	padding: 0 10px 0 10px;
}

.masthead.item a {
	color: #EFEFEF;
	text-decoration: none;
}


.header.item h1 {
	font-size: 5rem;
	color: #222222;
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;

}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', 'Open Sans';
	font-weight: 700;
}