html,body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.masthead {
	background: #222222 url('images/backgro.jpg') no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}

.header.item h1 {
	font-size: 5.175rem;
	color: #222222;
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	padding-top: 20vh;
	text-shadow: 0px 0px 3px rgba(32,32,32,0.5);
}

.content {
	background: #222222 url('images/backgro-repeat-y.png') repeat-y center center;
	background-size: 100%;
	min-height: 1000px;
	color: #EFEFEF;
	font-family: 'Yantramanav';
	font-weight: 100;
}

.description.item {
	font-size: 2rem;
}

.description.item h2 {
	font-weight: 300;
	font-size: 4rem;
}